@media screen and (max-width: 375px) {
    .HomeCard-container {
        width: calc(100%);
        height: 100vh;
        max-width: 400px;
        max-height: 700px;
        background-color: aliceblue;
    }
}

@media screen and (min-width: 376px) {
    .HomeCard-container {
        width: 400px;
        height: 100vh;
        max-height: 700px;
        background-color: aliceblue;
    }
}

.HomeCard-logo {
    padding-top: 100px;
    display: block;
    margin: auto;
    height: 80px;
}

.HomeCard-entry-form {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.HomeCard-input-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.HomeCard-input {
    border: 2px solid rgb(0, 58, 111);
    height: 20px;
    width: 97%;
    font-size: 15px;
    padding-left: 5px;
}

.HomeCard-input-submit-wrapper {
    padding-top: 50px;
}

.HomeCard-input-submit {
    display: block;
    margin: auto;
    width: 100%;
    background-color: initial;
    border: 5px solid green;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
