.PaymentsCard-container {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 50px;
    -webkit-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
}

.PaymentsCard-title {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

.PaymentsCard-entry {
    line-height: 20px;
    font-size: 15px;
    padding-left: 10px;
}
