.NavBar-container {
    min-height: 75px;
    padding-top: 20px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.43);
}

.NavBar-logo {
    padding-left: 20px;
    height: 60px;
}

.NavBar-nav {
    float: right;
    font-size: 24px;
    padding-right: 20px;
    padding-top: 14px;
}
